<h1>Technologies and tools <br />I use to build software solutions.</h1>
<p class="more">
  Here's a comprehensive overview of my technical skills and the technologies I
  work with regularly.
</p>
<div class="wrapper">
  <div class="top row">
    <div class="left">
      <h3>Frontend Development</h3>
    </div>
    <div class="right">
      <div class="specific">
        <p>Advanced</p>
        <h2>Angular</h2>
        <p>
          Building modern, responsive web applications with Angular using its<br/>
          component-based architecture, two-way data binding, and dependency
          injection.
        </p>
        <p>Tools: Angular, Tailwind CSS, Material-UI</p>
      </div>
      <div class="specific specific_top">
        <p>Advanced</p>
        <h2>JavaScript, React & TypeScript</h2>
        <p>
          Writing clean, maintainable code using modern JavaScript<br />
          features and TypeScript for type-safe development.
        </p>
        <p>Tools: ES6+, TypeScript, Jest,</p>
      </div>
    </div>
  </div>
  <div class="bottom row">
    <div class="left">
      <h3>Backend Development</h3>
    </div>
    <div class="right">
      <div class="specific">
        <p>Intermediate</p>
        <h2>Node.js, C# & .NET</h2>
        <p>Creating scalable server-side applications and RESTful Apis.</p>
        <p>Tools: Node.js, Express, MongoDB, PostgreSQL,</p>
      </div>
      <div class="specific">
        <p>Intermediate</p>
        <h2>Cloud and DevOps</h2>
        <p>Deploying and maintaining applications in cloud environments.</p>
        <p>Tools: Docker, Github Actions, Vercel</p>
        <img src="./assets/image" alt="" />
      </div>
    </div>
  </div>
</div>
