<h1>Technologies and tools <br />I use to build software solutions.</h1>
<p class="more">
  Here's a comprehensive overview of my technical skills and the technologies I
  work with regularly.
</p>
<div class="wrapper">
  <div class="top row">
    <div class="left">Frontend Development</div>
    <div class="right">
      <div class="specific">
        <p>Advanced</p>
        <h2>Angular</h2>
        <p>
          Building mordern, responsive web applications with React<br />
          and leveraging Next.js for server-side rendering and optimal
          performance
        </p>
        <p>Tools: Angular, Next.js, Tailwind CSS, Material-UI</p>
      </div>
      <div class="specific">
        <p>Advanced</p>
        <h2>Angular</h2>
        <p>
          Building mordern, responsive web applications with React<br />
          and leveraging Next.js for server-side rendering and optimal
          performance
        </p>
        <p>Tools: Angular, Next.js, Tailwind CSS, Material-UI</p>
      </div>
    </div>
  </div>
  <div class="bottom row">
    <div class="left">Backend Development</div>
    <div class="right">
      <div class="specific">
        <p>Intermediate</p>
        <h2>Node.js, C# & .NET</h2>
        <p>
          Writing clean, maintainable code using modern JavaScript<br />
          features and TypeScript for type-safe development.
        </p>
        <p>Tools: ES6+, TypeScript, Jest, C#</p>
      </div>
      <div class="specific">
        <p>Intermediate</p>
        <h2>Node.js, C# & .NET</h2>
        <p>
          Writing clean, maintainable code using modern JavaScript<br />
          features and TypeScript for type-safe development.
        </p>
        <p>Tools: ES6+, TypeScript, Jest, C#</p>
      </div>
    </div>
  </div>
</div>
