<div class="wrapper">
  <div class="logo">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="./assets/images/cliff.jpeg" alt="logo"
    /></a>
  </div>

  <div class="nav">
    <a routerLink="/about" routerLinkActive="active"> About </a>
    <a routerLink="/project" routerLinkActive="active"> Project </a>
    <a href="">Skills</a>
    <a href="">Experience</a>
  </div>

  <div class="toogle"><i class="pi pi-sun"></i></div>
</div>
