<div class="wrapper">
  <h1>Get in touch</h1>
  <p class="head-p">
    If you have a project idea or simply want to connect, I'd be delighted to
    hear from you.
  </p>
  <div class="top row">
    <div class="left">
      <div class="icon-text">
        <i class="pi pi-address-book"></i>
        <p class="detail">Contact Details</p>
    </div>
    
        <p>Email: cliffordmbithukamusyoka&#64;gmail.com</p>        
        <p>Phone: +254 114117903</p>
    </div>
    <div class="right">
        <div class="icon-text"><i class="pi pi-map-marker"></i> <p class="detail">Location</p></div>
        <p>Nairobi, Kenya</p>
    </div>
  </div>
</div>
