<div class="wrapper">
  <h2>Get in touch</h2>
  <p>
    If you have a project idea or simply want to connect, I'd be delighted to
    hear from you.
  </p>
  <div class="top row">
    <div class="left">
        <span><i class="pi pi-address-book"></i>Contact Details</span>
        <p>Email: cliffordmbithukamusyoka&#64;gmail.com</p>        
        <p>Phone: +254 114117903</p>
    </div>
    <div class="right">
        <span><i class="pi pi-map-marker"></i>Location</span>
        <p>Nairobi, Kenya</p>
    </div>
  </div>
</div>
