
.wrapper {
    height: auto;
    width: 90%;
    margin: auto;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(24,24,27,255);
}

@media (max-width: 768px) {
    .wrapper {
      width: 95%; 
      padding: 15px; 
    }
  }