.foot{
    justify-content: space-between;
    align-items:center ;
    text-align: center;
    width: 90%;
    margin: auto;
    height: 80px;
    border-top: solid 1px gray;
background-color: rgba(24,24,27,255);
    div, p {
        margin: 0 20px;
        font-weight: 500;
    }

    a {
        text-decoration: none;
          color: white;
        margin-left: 10px;
        font-weight: 700;
    
       
        &.active {
          color: aquamarine;
        }
      }
      a:hover{
        color: aquamarine;
        cursor: pointer;
      }
}

@media (max-width: 768px) {
    .foot {
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center items */
      padding: 15px 10px; /* Add more padding for touch devices */
    }
  
    .foot div, .foot p {
      margin: 5px 0; /* Reduce margin for compact layout */
    }
  
    .foot a {
      font-size: 14px; /* Reduce font size for small screens */
    }
  }
