<div class="wrapper">
    <div class="left">  <h1>
        I'm Clifford <br />
        Software Engineer.
      </h1>
      <br/>
      <p>
        I am a passionate software engineer based in Nairobi, Kenya, with
        expertise in backend development using C#, .NET, Node.js, and PHP, and
        frontend technologies like Angular, TypeScript, and Tailwind CSS. Proficient
        in database management and containerization tools, I specialize in creating
        scalable and user-friendly applications.
      </p>
      <br/>
      <p>
        I have worked on innovative projects, including platforms aimed at
        streamlining crowdfunding and e-commerce processes, which have improved
        access to resources and empowered communities. With a commitment to
        problem-solving and innovation, he is dedicated to leveraging technology to
        address societal challenges and deliver impactful, user-centered solutions.
      </p>
      <br>
    <p>I look forward to continuing my journey in the tech industry and building solutions that impact lives globally.</p>
    </div>
<div class="right">
    <div class="image"><img src="./assets/images/cliff.jpeg" alt="" ></div>
    <div class="icons">
        <i class="pi pi-linkedin"> <span>Follow on LinkedIn</span></i>
        <i class="pi pi-twitter"><span>Follow on Twitter</span></i>
        <i class="pi pi-github"><span>Follow on Github</span></i>
    </div>
    <i class="pi pi-envelope"><span>cliffordmbithukamusyoka&#64;gmail.com</span></i>
</div>
</div>
