<div class="wrapper">
  <div class="left">
    <h1>
      I'm Clifford <br />
      Software Engineer.
    </h1>
    <br />
    <p>
      I am a passionate software engineer based in Nairobi, Kenya, with
      expertise in backend development using C#, .NET and Node.js and frontend
      technologies like Angular, React, TypeScript, and Tailwind CSS. Proficient in
      database management and containerization tools, I specialize in creating
      scalable and user-friendly applications.
    </p>
    <br />
    <p>
      Worked on innovative projects streamlining crowdfunding and e-commerce,
      improving access to resources and empowering communities. Committed to
      leveraging technology for societal challenges, delivering impactful,
      user-centered solutions through problem-solving and innovation.
    </p>
    <br />
    <p>
      I look forward to continuing my journey in the tech industry and building
      solutions that impact lives globally.
    </p>
  </div>
  <div class="right">
    <div class="image"><img src="./assets/images/cliff.jpeg" alt="" /></div>
    <div class="icons">
      <i class="pi pi-linkedin">
        <a href="https://www.linkedin.com/in/clifford-mbithuka-musyoka" target="_blank" rel="noopener noreferrer">
          Follow on LinkedIn
        </a>
      </i>
      <i class="pi pi-github">
        <a href="https://github.com/Cliff-Mbithuka" target="_blank" rel="noopener noreferrer">
          Follow on GitHub
        </a>
      </i>
    
      <i class="pi pi-twitter">
        <a href="https://x.com/cliff_mbithuka" target="_blank" rel="noopener noreferrer">
          Follow on X
        </a>
      </i>
    </div>
    <i class="pi pi-envelope"
      ><span>cliffordmbithukamusyoka&#64;gmail.com</span></i
    >
  </div>
</div>
