.wrapper {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    margin: 4em 0 5em 0;
  }
  
  h1{
    font-size: 3em;
  }
  .wrapper > .left,
  .wrapper > .right {
    flex: 1;
    min-width: 300px;
    padding: 10px; 
    box-sizing: border-box;
  }
  
  .wrapper > .right {
    display: flex;
    flex-direction: column; 
    // align-items: center; /* Centers content horizontally */
  }

  .icons {
    margin-top: 10px; /* Pushes to the bottom */
    
   display: flex;
   flex-direction: column;
   
  }

   .pi {
    margin-left: 20px;
    display: flex;
    gap: 20px;
    margin-top: 15px;
    
    transition: transform 0.3s ease, color 0.3s ease;
  }
   .pi:hover {
    cursor: pointer;
    color: aquamarine
  }
  .pi span {
    font-family: "Nunito", serif;
  }


   .image{
    position: relative;
    max-width: 600px; /* Adjust size as needed */
    border-radius: 20px;
    overflow: hidden; /* Ensures the rounded corners are applied */
    margin: 0 auto; 
  }
  .wrapper img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; 
    
  }

  .pi-envelope{
    border-top: solid 0.5px gray;
    padding-top: 20px;
  }
  a{
    text-decoration: none;
    color: #000;
  }