<h1>Software Engineer</h1>

<p>
  Hi, I’m Cliff a passionate software developer dedicated to creating
  exceptional, user-focused solutions.<br />
  With a solid grasp of diverse programming languages, frameworks, and
  cutting-edge technologies, I specialize<br />
  in building responsive, efficient systems that prioritize seamless user
  experiences. I excel in dynamic<br />
  environments, where managing tasks effectively and staying adaptable are
  essential to delivering high-quality<br />
  results on time, while maintaining a keen eye for detail.
</p>

<div class="icons">
  <i class="pi pi-linkedin"></i>
  <i class="pi pi-github"></i>
  <i class="pi pi-twitter"></i>
  <i class="pi pi-envelope"></i>
</div>

<div class="photos">
  <div class="photo"><img src="./assets/images/pot2.jpg" alt=""></div>
  <div class="photo"><img src="./assets/images/pot1.jpg" alt=""></div>
  <div class="photo"><img src="./assets/images/pot3.jpg" alt=""></div>
  <!-- <div class="photo"><img src="./assets/images/cliff.jpeg" alt=""></div> -->
</div>