<h1>Software Engineer</h1>

<p>
  Hi, I’m Cliff a passionate Software Engineer dedicated to creating
  exceptional, user-focused solutions.<br />
  With a solid grasp of diverse programming languages, frameworks, and
  cutting-edge technologies, I specialize<br />
  in building responsive, efficient systems that prioritize seamless user
  experiences. I excel in dynamic<br />
  environments, where managing tasks effectively and staying adaptable are
  essential to delivering high-quality<br />
  results on time, while maintaining a keen eye for detail.
</p>

<div class="icons"> 
  <a href="https://www.linkedin.com/in/clifford-mbithuka-musyoka" target="_blank" rel="noopener noreferrer">
    <i class="pi pi-linkedin"></i>
  </a>
  <a href="https://github.com/Cliff-Mbithuka" target="_blank" rel="noopener noreferrer">
    <i class="pi pi-github"></i>
  </a>
  <a href="https://x.com/cliff_mbithuka" target="_blank" rel="noopener noreferrer">
    <i class="pi pi-twitter"></i>
  </a>
  <a href="mailto:cliffordmbithukamusyoka@gmail.com" target="_blank" rel="noopener noreferrer">
    <i class="pi pi-envelope"></i>
  </a>
</div>


<div class="photos">
  <div class="photo"><img src="./assets/images/pot2.jpg" alt=""></div>
  <div class="photo"><img src="./assets/images/pot1.jpg" alt=""></div>
  <div class="photo"><img src="./assets/images/pot3.jpg" alt=""></div>
  <!-- <div class="photo"><img src="./assets/images/cliff.jpeg" alt=""></div> -->
</div>