<h1>Creations I've built in my quest <br />to make an impact on the world.</h1>
<p class="more">
  I've been involved in many small projects over the years, but these are the
  ones I'm most proud<br />
  of. Many are open-source, so if something catches your eye, feel free<br />
  to explore the code and contribute if you have any suggestions for
  improvement.
</p>
<div class="wrapper">
  <div class="project">
    <img src="./assets/images/portfolio.png" alt="" />
    <h2>Personal Portfolio</h2>
    <p>My Personal Portfolio. </p>
    <i class="pi pi-tags"><span>Personal Portfolio</span></i>
  </div>
  <div class="project">
    <img src="./assets/images/propts.png" alt="" />
    <h2>Create Prompt Dashboard</h2>
    <p>Get personalized suggestions to optimize workflow efficiency</p>
    <i class="pi pi-tags"><span>Create Prompt Dashboard</span></i>
  </div>
  <div class="project">
    <img src="./assets/images/desktop-preview.jpg" alt="" />
    <h2>CrowdFunding Platform</h2>
    <p>Platform to empower ideas through community-driven financial support</p>
    <i class="pi pi-tags"><span>CrowdFunding Platform</span></i>
  </div>
  <div class="project">
    <img src="./assets/images/age-calculator.jpg" alt="" />
    <h2>Age Calculator App</h2>
    <p>Quickly calculate accurate ages with ease</p>
    <i class="pi pi-tags"><span>Age Calculator App</span></i>
  </div>
</div>
