<h1>Creations I've built in my quest <br />to make an impact on the world.</h1>
<p class="more">
  I've been involved in many small projects over the years, but these are the
  ones I'm most proud<br />
  of. Many are open-source, so if something catches your eye, feel free<br />
  to explore the code and contribute if you have any suggestions for
  improvement.
</p>
<div class="wrapper">
  <div class="project">
    <img src="./assets/images/desktop-preview.jpg" alt="" />
    <h2>Complex work kitty</h2>
    <p>Lorem ipsum dolor, sit amet consectetur  </p>
    <i class="pi pi-tags"><span>E-commerce Platform</span></i>
  </div>
  <div class="project">
    <img src="./assets/images/cliff.jpeg" alt="" />
    <h2>Complex work kitty</h2>
    <p>Lorem ipsum dolor, sit amet consectetur</p>
    <i class="pi pi-tags"><span>E-commerce Platform</span></i>
  </div>
  <div class="project">
    <img src="./assets/images/cliff.jpeg" alt="" />
    <h2>Complex work kitty</h2>
    <p>Lorem ipsum dolor, sit amet consectetur</p>
    <i class="pi pi-tags"><span>E-commerce Platform</span></i>
  </div>
  <div class="project">
    <img src="./assets/images/cliff.jpeg" alt="" />
    <h2>Complex work kitty</h2>
    <p>Lorem ipsum dolor, sit amet consectetur</p>
    <i class="pi pi-tags"><span>E-commerce Platform</span></i>
  </div>
</div>
